@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F2F5F9;
}

section {
    width: 418px;
    border-radius: 13px;
    background-color: #FFFFFF;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
}

.hero-container {
    position: relative;
}

.hero {
    width: 100%;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    position: relative;
}

.hero-deco {
    position: absolute;
    top: 13.5rem;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.content {
    padding: 0 32px 20px 32px;
}

.content h1 {
    margin-bottom: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #111729;
}

.content p {
    font-family: "Lato", sans-serif;
    color: #677489;
}

hr {
    opacity: 0.1;
}

.author {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px 32px;
}

.author-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F5F9;
    width: 45px;
    height: 45px;
    border-radius: 50%;

}

.author-name {
    font-family: "Lato", sans-serif;
}

.author-name h2 {
    font-size: 17px;
    color: #111729;
}

.author-name p {
    font-size: 12px;
    color: #677489;
}

.author img {
    width: 35px;
    border-radius: 50px;
}

